{% extends 'base.html.twig' %}

{% block title %}{{ title == 'Accueil' ? title ~ ' - Roissy Parks' : 'Roissy Parks - ' ~ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<section>
    {{ form_start(form, { 'attr': {'class': 'form-style'} }) }}
    <div class="row">
        <div class="col-2 d-flex justify-content-end align-items-center">
            <img src="{{ user.picture == 'defaultPicture.png' ? asset('common/' ~ user.picture) : asset('images/' ~ user.picture) }}"
                alt="Photo de profil" height="80" class="rounded">
        </div>
        <div class="col-10">
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
        </div>
    </div>
    {{ form_row(form.gender) }}
    {{ form_widget(form) }}
    <div class="d-flex">
        {% if submit is defined %}
        <button class="btn btn-primary btn-sm mx-auto w-50">{{ button_label|default('Modifier') }}</button>
        {% else %}
        <a class="btn btn-primary btn-sm mx-auto w-50" href="{{ path('app_user_edit', {'id': user.id}) }}">
            {{ button_label|default('Modifier') }}
        </a>
        {% endif %}
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}